
<div class="cols">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <nav class="nav flex-column">
          <a class="nav-link blue" routerLink="/home">Home</a>
          <a class="nav-link blue" routerLink="/language">Language List</a>
          <a class="nav-link blue" routerLink="/currency">Currency List</a>          
        </nav>
      </div>
      <div class="col-sm-9 offset-1">
        <select class="form-control" [(ngModel)]="SelectedCountry" (change)="ChangeFn()">
          <option value="">Select Country</option>
          <option [ngValue]="c" *ngFor="let c of Countries">{{c.name}}</option>
        </select>
        <hr>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>


